h1{
    background-color:#0f0e0e;
    color:darkturquoise;
    font-family: verdana, sans-serif;
    font-size:18px;
    color:#e0ffff;
    font-weight:normal;
    font-style:normal;
    line-height:1.3em;
    margin:20px 20px;
    text-align:left;
}
h2{
    background-color:#0f0e0e;
    color:darkturquoise;
    font-family: verdana, sans-serif;
    font-size:13px;
    color:#e0ffff;
    font-weight:normal;
    font-style:normal;
    line-height:1.3em;
    margin:20px 20px;
    text-align:left;
}

.topnav{
   background-color:#0f0e0e;
   overflow:hidden;
   border-radius: 10px;
}

.topnav a {
   float:left;
   color: white;
   text-decoration:none;
   text-align: center;
   padding: 17px;
   font-size:20px;
   border-radius: 10px;
}

.topnav a:hover {
  background-color:aquamarine;
  color: black;
}

.topnav a.active {
  background-color: darkturquoise; 
  color: white;
}

.topnav a.active {
  background-color: darkturquoise;
  color: white;
}	
