  
body{
    background-color:#0f0e0e;
}

h1{
    font-family: verdana, sans-serif;
    font-size:40px;
    color:#b0e0e6;
    font-weight:normal;
    font-style:normal;
    line-height:1.3em;
    margin:20px 20px;
    text-align:left;
}
h2{
    font-family: verdana, sans-serif;
    font-size:30px;
    color:#1e90ff;
    font-weight:normal;
    font-style:normal;
    line-height:1.3em;
    margin:20px 20px;
    text-align:left;
}
 
body{
    font-family: arial, sans-serif;
    font-size:20px;
    color:#e3f1fc;
    font-weight:normal;
    font-style:normal;
    line-height:2em;
    text-align:justify;
}

.topnav{
   background-color:none;
   overflow:hidden;
   position: sticky;
   float: center;
}
.topnav {
  font-family: helvetica, sans-serif;
    font-size:8px;
    color:#e3f1fc;
    font-weight:normal;
    font-style:normal;
    text-align:left;
}

.topnav a {
   float:left;
   color: white;
   text-decoration:none;
   text-align: center;
   padding: 17px;
   font-size:20px;
   border-radius: 10px;
}

.topnav a:hover {
  background-color:#dcdcdc;
  color: black;
}

.topnav a.active {
  background-color:#0f0e0e; 
  color: white;
}
p {
  margin-top: 30px;
  margin-right: 120px;
  margin-bottom: 30px;
  margin-left: 120px;
}

.banner-video {
  width: 100% auto;
  height: 700px;
  overflow: hidden;
  margin: 0 auto;
  float: top;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
